/* Bloco de texto com fundo azul */

.bloco { 
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
    background-color: #0a1e3a;
    color:  rgba(26, 26, 26, 0.8);
    font-family: "Poppins", serif;
}

.bloco h2{
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 1em; 
    color: white; 
    text-shadow: .2rem .2rem 2px rgba(26, 26, 26, 0.8);
    font-size: 2.5rem; 
    border-bottom: solid 3px #008bd8; 
}
.bloco p {
    color: white;
    padding-bottom: 2em;
    font-family: Poppins;
    width: 70%;
    line-height: 1.5;
}

.bloco i {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 5rem;
    padding: 0rem 1rem;
}

.bloco a {
    cursor: pointer;
}

.bloco button{
    background-color: white;
    border: none;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 2rem;
    font-family: Poppins;
}

.bloco button a {
    text-decoration: none;
    color: #1a1a1a;
}

.pdf-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -3rem;
}