.container-contato {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
}

.cabecalho-contato {
    display: flex;
    justify-content: center;
}


.titulo-contato {
    font-family: "Bebas Neue", sans-serif;
    margin: 2rem 0 2rem 0;
    color: #1a1a1a;
    font-size: 2.4rem;
    border-bottom: 3px solid #008bd8;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 40%;
    max-width: 520px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}

.container-form-esquerda {
    max-width: 250px;
}

.container-form-direita {
    max-width: 250px;
}

.input {
    width: 227px;
    padding: 5px;
    margin-bottom: 10px;
    outline: 0;
    border: 1px solid #444444;
    border-radius: 5px;
}

.mensagem {
    height: 155px;
}

.button-form {
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 2rem;
    font-family: Poppins;
    float: right;
    margin-right: 10px;;
}

.endereco-telefone {
    flex: 1 1 50%;
    text-align: right;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    max-width: 320px;
}