<script>
    var elementos = document.getElementsByClassName("item-minicards");
    for (var item in elementos) { 
        if (elementos[item].children[1].children[0].innerHTML == "") {
            elementos[item].innerHTML = "";
        }
    }
    var elementos_cards = document.getElementsByClassName("item");
    for (var item in elementos_cards) { 
        if (elementos_cards[item].children[1].innerHTML == "") {
            elementos_cards[item].innerHTML = "";
        }
    }
</script>

<footer class="rodape">
    <div class="container-rodape">
        <div class="text1-rodape">
            <a href="https://www.catiuespi.com/" target="_blank">
                <p>Feito com <i class="fas fa-heart"></i> pelo CATI</p>
            </a>
        </div>
    </div>
    <div class="rodape-links">
        <div class="rodape-wrapper">
            <div class="links">
                {% if page.url == "/" %}
                <a id="inicio" href="#cabeçalho" target="_self">Inicio</a>
                {% endif %}
                {% if page.url != "/" %}
                <a id="inicio" href="/" target="_self">Inicio</a>
                {% endif %}
                <a id="termos" href="termos.html" target="_self">Termos</a>
                <a id="privacidade" href="privacidade.html" target="_self">Privacidade</a>
            </div>
            <div class="icons-rodape">
                <a href="https://www.facebook.com/MaeJrOficial" target="_blank"><i
                        class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/maejunior" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <span>© 2021 CATI</span>
    </div>
</footer>
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>