<section class="nuvem" id="serviços">
    <div class="cab-nuvem">
        <h2 class="titulo">Serviços que prestamos</h2>
    </div>
    <div class="grid">
        <div class="item">
            <div class="cabecalho">
                <i>{{ array[0] }}</i>
                <h3>{{ array[1] }}</h3>
            </div>
            <p>{{ array[2] }}</p>
        </div>
        <div class="item">
            <div class="cabecalho">
                <i>{{ array[3] }}</i>
                <h3>{{ array[4] }}</h3>
            </div>
            <p>{{ array[5] }}</p>
        </div>
        <div class="item">
            <div class="cabecalho">
                <i>{{ array[6] }}</i>
                <h3>{{ array[7] }}</h3>
            </div>
            <p>{{ array[8] }}</p>
        </div>
        <div class="item">
            <div class="cabecalho">
                <i>{{ array[9] }}</i>
                <h3>{{ array[10] }}</h3>
            </div>
            <p>{{ array[11] }}</p>
        </div>
        <div class="item">
            <div class="cabecalho">
                <i>{{ array[12] }}</i>
                <h3>{{ array[13] }}</h3>
            </div>
            <p>{{ array[14] }}</p>
        </div>
        <div class="item">
            <div class="cabecalho">
                <i>{{ array[15] }}</i>
                <h3>{{ array[16] }}</h3>
            </div>
            <p>{{ array[17] }}</p>
        </div>
        <div class="imagem">
            <img src="/assets/imagens/imagem.png" alt="Consulta">
        </div>
    </div>
</section>

<section class="bloco">
    <p>Procurando por uma consultoria de qualidade?<br> Agende sua primeira consultoria!</p>
    <button><a href="#contato" >Agendar</a></button>
</section>