@import 'componentes/all.css';
@import 'widgets.css';

.default {
    text-align: center;
}

.default ol, .default ul {
    text-align: left;
    max-width: 800px;
    margin: 2rem auto;
}

.default p, .default ol, .default ul {
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto 1rem auto;
}

h1, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 1rem 0;
}

.default h2:empty {
    display: none;
}

.default h2 {
    font-family: "Bebas Neue", sans-serif;
    margin: 2rem 0 2rem 0;
    font-size: 2.4rem;
    border-bottom: 3px solid #008bd8;
    display: inline-block;
}