/* banner*/

.logo {
    position: absolute;
    z-index: 1;
    left: 2%;
    color: #fff;
    padding-top: 1rem;
    width: 100px
}

.logo img {
    width: 100%;
}

.hero-banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(10, 30, 58, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.conteudo {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 10%;
    max-width: 800px;
}


.conteudo h2{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: "Bebas Neue", serif;
    line-height: 1.1;
    font-weight: 500;
    text-shadow: .2rem .3rem 2px rgba(26, 26, 26, 0.8);
    margin-bottom: .5rem;
    animation: moveBanner 1.5s;
}

.conteudo p{
    font-family: "Poppins", serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-shadow: .2rem .2rem 2px rgba(26, 26, 26, 0.8);
    margin-bottom: 3.5rem;
    animation: moveBanner 1.5s;
}

.conteudo button{
    font-family: "Poppins", serif;
    color: #e6e6e6;
    background-color:  #0a1e3a;
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1.2s;
}

.saibamais {
    transition: color 0.5s;
}

.saibamais:hover {
    color: black;
}



@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-90deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}